extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/sub-menu.pug

block main 
    .container.my-3 
        .row
          .col-12
            +box-head("Danh sách sản phẩm")
        .row.my-4
            .col-md-2 
                .list-group
                    - const pathProduct = "/products"
                    +sub-menu(layoutProductsCategory, pathProduct)
            .col-md-10 
                .row 
                    each item in products
                        .col-md-3
                            .product-card
                                img(src=item.thumbnail class="img-fluid" alt=item.title)
                                a(href=`/products/detail/${item.slug}`) #{item.title}
                                p.product-price #{item.newPrice}
                                p.product-price #{item.price}
                                p.text-decoration-line-through (#{item.discountPercentage})
                                form(
                                    action=`/cart/add/${item.id}`
                                    method="POST"
                                )
                                    input(
                                        class="form-control mb-2 d-none"
                                        type="number"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                    )            
                                    button(
                                        class="btn btn-success"
                                    ) Thêm vào giỏ
        
                                
