extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 

    .container.my-3 
        .row
          .col-12
            +box-head("Danh sách sản phẩm")
        .row.my-4
            .col-md-2 
                .list-group
                    a(href="#" class="list-group-item list-group-item-action") KHUYẾN MÃI SỐC
                    a(href="#" class="list-group-item list-group-item-action") THỊT, CÁ, TRỨNG, HẢI SẢN
                    a(href="#" class="list-group-item list-group-item-action") RAU, CỦ, NẤM, TRÁI CÂY
                    a(href="#" class="list-group-item list-group-item-action") DẦU ĂN, NƯỚC CHẤM, GIA VỊ
            .col-md-10 
                .row 
                    each item in products
                        .col-md-3
                            .product-card
                                img(src=item.thumbnail class="img-fluid" alt=item.title)
                                a(href=`/products/${item.slug}`) #{item.title}
                                p.product-price #{item.newPrice}
                                p.product-price #{item.price}
                                p.text-decoration-line-through (#{item.discountPercentage})
                                button.btn.btn-success Thêm vào giỏ
        
                                
