extends ../../layouts/default.pug 

block main 
  section.main.py-5
    .container
      .row.py-5
        .col-lg-6.py-5
          p.m-0 Oraganic products
          h1 Fresh Organic
          .line.my-4
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eius neque omnis facere beatae excepturi voluptatem numquam voluptate molestias, nesciunt distinctio sit suscipit ab eos fugit laboriosam. Hic, iusto ex.
          button.mbtn1.mt-4 Read More
          button.mbtn2 Shop now
  
  section.about.py-5
    .container.py-5
      .row.py-5
        .col-lg-5.py-5.offset-lg-7.col-md-6.col-sm-12.col-12
          p.m-0 Organic products
          h1 About Our Organic
          .line.my-4
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam maiores ut, quas dolor a ipsa, corrupti, debitis soluta provident odio adipisci hic illo asperiores. Id labore impedit architecto provident quos.
          button.mbtn1.mt-4 Read More

  section.welcome.text-center.pb-5
    .container.py-5
      .row.py-5.text-white
        .col-lg-6.m-auto
          p.m-0 Green Agriculture
          h1 Welcome To Organic
          .line2.my-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tenetur?
      .row
        .col-lg-4.py-2
          .card.py-3
            .card-body
              span
                i.bi.bi-shop-window
              h2 Always Fresh
              p Lorem ipsum dolor sit amet.
        .col-lg-4.py-2
          .card.py-3
            .card-body
              span
                i.bi.bi-flower2
              h2 Healthy Food
              p Lorem ipsum dolor sit amet.
        .col-lg-4.py-2
          .card.py-3
            .card-body
              span
                i.bi.bi-gift
              h2 100% Organic
              p Lorem ipsum dolor sit amet.
  
  section.product.bg-light
    .container
      .row.py-5.text-center
        .col-lg-6.m-auto
          p.m-0 Green Agriculture
          h1 Our Best Products
          .line.my-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tenetur?
      .row
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/orange.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/chilli.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/papaya.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/gApple.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/manngo.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
        .col-lg-4.py-2
          .card.p-2
            .card-body
              .star
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                span
                  i.bi.bi-star
              img.img-fluid.pb-3(
                alt="" 
                src="./imgs/red-apple.jpg"
                )
              h4.head1 Orange
              p.per1 2 x 454g / 16oz
              h4.head1 $43.00
              button.btnc.my-4 ADD TO CART
      .row.text-center.py-5
        .col-lg-6.m-auto
          button.mbtn1 Read More

  section.discount.py-5
    .container.py-5
      .row
        .col-lg-10.m-auto.text-center
          h1
            span.head1
              i.bi.bi-cash-coin
              | Discount Coupon For -20%: ABCDXYZ
        .col-lg-2.m-auto
          button.dbtn More offer

  section.store.py-5.bg-light.text-center
    .container.py-5
      .row
        .col-lg-6.m-auto
          p.m-0 Green Agriculture
          h1 Welcome To Organic
          .line2.my-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tenetur?
      .row
        .col-lg-3.mt-2
          .card.py-3
            .card-body
              span
                i.bi.bi-truck
              h5.head1.py-3 Free shipping
              p.per1 With $100 or more orders. Go to Oars Store
        .col-lg-3.mt-2
          .card.py-3
            .card-body
              span
                i.bi.bi-truck
              h5.head1.py-3 Free shipping
              p.per1 With $100 or more orders. Go to Oars Store
        .col-lg-3.mt-2
          .card.py-3
            .card-body
              span
                i.bi.bi-truck
              h5.head1.py-3 Free shipping
              p.per1 With $100 or more orders. Go to Oars Store
        .col-lg-3.mt-2
          .card.py-3
            .card-body
              span
                i.bi.bi-truck
              h5.head1.py-3 Free shipping
              p.per1 With $100 or more orders. Go to Oars Store

  section.seller.bg-light.py-5
    .container.py-5
      .row
        .col-lg-6
          h1.py-5 New Arrials
      .row.g-2.mt-0
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/lemon.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/melon.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
      .row.g-2.mt-0
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/raw-onions.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/lemon.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
      .row.g-2.mt-0
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/papaya.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
        .col-lg-6
          .card
            .row
              .col-lg-6
                img.img-fluid(
                  alt="" 
                  src="./imgs/garlic.jpg"
                  )
              .col-lg-6.p-5
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star-fill
                span
                  i.bi.bi-star
                h5.head1 Fresh Lemon
                p.per1 2 x 454 / 16oz
                h5.head1 12.00$
  
  section.contact.py-5
    .container.py-3
      .row
        .col-lg-7
          p.m-0 Green Agriculture
          h1 Welcome To Organic
          .line2.my-4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, tenetur?
          .row.py-3
            .col-lg-6
              .row.pt-2
                .col-lg-3.col-sm-3.col-2
                  .circle
                    span
                      i.bi.bi-house-fill
                .col-lg-8.col-sm-8.col-8.pt-2
                  p Address Lorem ipsum dolor sit amet consectetur.
              .row.pt-2
                .col-lg-3.col-sm-3.col-2
                  .circle
                    span
                      i.bi.bi-pencil-fill
                .col-lg-8.col-sm-8.col-8.pt-2
                  p Address Lorem ipsum dolor sit amet consectetur.
              .row.pt-2
                .col-lg-3.col-sm-3.col-2
                  .circle
                    span
                      i.bi.bi-telephone-fill
                .col-lg-8.col-sm-8.col-8.pt-2
                  p +840123456789
              .row.pt-2
                .col-lg-3.col-sm-3.col-2
                  .circle
                    span
                      i.bi.bi-envelope
                .col-lg-8.col-sm-8.col-8.pt-2
                  p abc@gmail.com.
            .col-lg-6
              form(action="")
                input(
                  placeholder=" Name..." 
                  type="text"
                  )
                input(
                  placeholder=" Email..." 
                  type="text"
                  )
                input(
                  placeholder=" Phone..." 
                  type="text"
                  )
                textarea(
                  placeholder=" Message..." 
                  name=""
                  )
                button.cbtn.mt-3 Send Now
  
